/* ============ ex0 =========== */

#ex0 div h1 {
    font-size: 50px;
}

/* ============ ex1 =========== */

#ex1 div h1 {
    font-size: 50px;
}

/* ============ ex2 =========== */

#ex2 div h1 {
    font-size: 40px;
}

/* ============ ex3 =========== */

#ex3 div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#ex3 div .block {
    background: #ffffff;
    width: 200px;
    height: 200px;
    font-size: 60px;
}

#ex3 div .block p {
    color: black;
}

#ex3 div .block span {
    color: #ffffff;
}

/* ============ ex4 =========== */

#ex4 div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ex4 div img {
    border-radius: 5px;
    width: 300px;
}

#ex4 div img#avatar {
    object-fit: cover;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

#ex4 div h1 {
    font-weight: 100;
    font-size: 46px;
    margin-left: -100px;
    transform: rotate(270deg);
}

#ex4 div h2 {
    margin-left: -80px;
    display: flex;
    align-items: center;
}

#ex4 div h2 img {
    width: 45px;
}

/* ============ ex5 and ex6 =========== */

#ex5 div .img,
#ex6 div .img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

#ex5 div .img img,
#ex6 div .img img {
    width: 350px;
    border-radius: 3px;
}

/* ============ ex7 =========== */

#ex7 div h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#ex7 div div img {
    width: 400px;
    border-radius: 2px;
}

/* ============ ex8 =========== */

#ex8 div {
    width: 800px;
}

#ex8 div img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50%);
    shape-margin: 5px;
}

#ex8 div p {
    font-size: 20px;
    text-align: justify;
}

/* ============ ex8 =========== */

