/* ============ ex0 =========== */

#ex0 div h1 {
    font-size: 50px;
}

/* ============ ex1 =========== */

#ex1 div h1 {
    font-size: 50px;
}

/* ============ ex2 =========== */

#ex2 div h1 {
    font-size: 40px;
}

/* ============ ex3 =========== */

#ex3 div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#ex3 div .block {
    background: #ffffff;
    width: 200px;
    height: 200px;
    font-size: 60px;
}

#ex3 div .block p {
    color: black;
}

#ex3 div .block span {
    color: #ffffff;
}

/* ============ ex4 =========== */

#ex4 div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ex4 div img {
    border-radius: 5px;
    width: 300px;
}

#ex4 div img#avatar {
    object-fit: cover;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

#ex4 div h1 {
    font-weight: 100;
    font-size: 46px;
    margin-left: -100px;
    transform: rotate(270deg);
}

#ex4 div h2 {
    margin-left: -80px;
    display: flex;
    align-items: center;
}

#ex4 div h2 img {
    width: 45px;
}

/* ============ ex5 and ex6 =========== */

#ex5 div .img,
#ex6 div .img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

#ex5 div .img img,
#ex6 div .img img {
    width: 350px;
    border-radius: 3px;
}

/* ============ ex7 =========== */

#ex7 div h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#ex7 div div img {
    width: 400px;
    border-radius: 2px;
}

/* ============ ex8 =========== */

#ex8 div {
    width: 800px;
}

#ex8 div img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50%);
    shape-margin: 5px;
}

#ex8 div p {
    font-size: 20px;
    text-align: justify;
}

/* ============ ex10 =========== */

#ex9 {
    display: flex;
    flex-direction: column;
}

#ex9 .chat {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ffffff;
    box-shadow: 5px 5px 0 #e76f51;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

#ex9 h1 {
    position: relative;
    top: 28%;
    font-size: 30px;
    font-weight: bolder;
    color: #e76f51;
    text-align: center;
}

/* ============ ex10 =========== */

#ex10 {
    display: flex;
    flex-direction: column;
}

#ex10 h1 {
    margin-bottom: 30px;
}

#ex10 div {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

#ex10 div :where(
    .triangle,
    .pentagon,
    .square,
    .chat
) {
    width: 100px;
    height: 100px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
}

#ex10 div .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#ex10 div .triangle .red {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #ef476f;
}

#ex10 div .pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

#ex10 div .square {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
} 

#ex10 div .chat {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

#ex10 div .chat .green {
    position: absolute;
    top: 74px;
    width: 100px;
    height: 40px;
    background-color: #3c6e71;
}

#ex10 p {
    margin-top: 30px;
}

/* ============ ex11 =========== */

#ex11 h1 {
    font-size: 50px;
}

/* ============ ex12 =========== */

#ex12 div img {
    width: 500px;
}

/* ============ ex13 =========== */ 

#ex13 div p {
    font-size: 40px;
}

/* ============ ex14 =========== */ 

#ex14 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#ex14 div h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

/* ============ ex15 =========== */ 

#ex15 div img {
    width: 500px;
}

/* ============ ex16 =========== */ 

#ex16 {
    display: flex;
    flex-direction: column;
}

#ex16 div img {
    margin-bottom: 30px;
    width: 500px;
}

/* ============ ex17 =========== */ 

#ex17 .gradient1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: conic-gradient(#caf0f8 30deg, #ade8f4 30deg 60deg, #90e0ef 60deg 120deg, #48cae4 120deg 180deg, #00b4d8 180deg 240deg, #0096c7 240deg, 300deg, #023e8a 300deg);
}

#ex17 .gradient2 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: conic-gradient(brown 30deg, green 30deg 120deg, blue 120deg 240deg, yellow 240deg 310deg, brown 310deg);
}

#ex17 .gradient3 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: conic-gradient(red 50deg, green 50deg 150deg, blue 150deg 240deg, yellow 240deg 300deg, brown 300deg);
}